*{
    padding: 5px;
    margin: 5px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
}

.error{
    color: red;
    text-align: left;
}

.success{
    color: black;
    text-align: right;
}

.result{
    border:1px solid black;
    border-radius: 5px;
    margin:20px auto;
    padding: 15px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.log{
   background-color: azure;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 0.8em;
}